:root {
  --header-bg: #fff;
  --header-textColor: #111517;
  --main-bg: rgb(249, 249, 251);
  --input-bg: #fff;
  --input-textColor: #111517;
  --option-bg: #fff;
  --card-bg: #ffffff;
  --card-h: #111517;
  --card-span: #111517;
  --card-p: #343638;
  --box-shadow: #0000001a;
  --btn-bg: #2b3844;
  --btn-textColor: #fff;
}
.dark {
  --header-bg: #2b3844;
  --header-textColor: #fff;
  --main-bg: #202c36;
  --input-bg: #2b3844;
  --input-textColor: #fff;
  --option-bg: #2b3844;
  --card-bg: #2b3844;
  --card-h: #fff;
  --card-span: #fff;
  --card-p: #fff;
  --btn-bg: #fff;
  --btn-textColor: #2b3844;
}
body {
  background-color: var(--main-bg);
}
.header {
  background-color: var(--header-bg);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 24px;
}
.header-text {
  font-family: "Nunito Sans";
  font-size: 24px;
  font-weight: 800;
  line-height: 32.74px;
  color: var(--header-textColor);
}
.header_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-family: "Nunito Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 21.82px;
  border: 0;
  background-color: transparent;
  color: var(--header-textColor);
  padding: 12px;
}
/* main */
.main {
  background-color: var(--main-bg);
}
.form-div {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 48px;
}
.input {
  width: 480px;
  height: fit-content;
  margin-left: auto;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--input-textColor);
}
.input::placeholder {
  color: var(--input-textColor);
}
.form {
  display: flex;
  align-items: center;
  gap: 31px;
  padding: 19px 32px;
  background-color: var(--input-bg);
  box-shadow: 0px 4px 8px var(--box-shadow);
  border-radius: 8px;
}
.select {
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 6px var(--box-shadow);
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 8px 16px;
  background-color: var(--option-bg);
  color: var(--input-textColor);
}

.select:optional {
  border-radius: 5px;
}
option {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  background-color: var(--option-bg);
  border: 1px solid var(--option-bg);
  outline: none;
  border-radius: 5px;
}
/* card style */
.card-section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 75px;
  row-gap: 75px;
  margin-bottom: 100px;
  margin: 0 auto;
  justify-content: center;
  margin-bottom: 45px;
}

@media (min-width: 576px) {
  .card-section {
    grid-template-columns: repeat(auto-fill, minmax(338.7px, 1fr));
    justify-content: center;
    margin: 0 auto;
  }
}
@media (min-width: 175px) {
  .card-section {
    display: grid;
    justify-content: center;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}
.card-div {
  width: 264px;
  height: 336px;
  background-color: var(--card-bg);
  border-radius: 5px;
  box-shadow: 0px 4px 8px var(--box-shadow);
}
.card-deck {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 12px;
}
.card-name {
  font-family: "Nunito Sans";
  font-size: 18px;
  font-weight: 800;
  line-height: 26px;
  color: var(--card-h);
  padding-inline: 24px;
  margin-top: 19px;
  margin-bottom: 12px;
}
.card-p {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  color: var(--card-p);
  padding-inline: 24px;
}
.card-span {
  font-family: "Nunito Sans";
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  color: var(--card-span);
}
.card-img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
/* loader */
.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--primaryColor);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
.error {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
  font-size: xx-large;
  color: red;
}
/* about */

.cocktail-section {
  text-align: center;
}

.drink {
  width: var(--smallWidth);
  max-width: var(--fullWidth);
  margin: 0 auto;
  text-align: left;
}

.drink img {
  border-radius: var(--mainBorderRadius);
}

.drink p {
  font-weight: bold;
  text-transform: capitalize;
  line-height: 1.8;
}

.drink span {
  margin-right: 0.5rem;
}

.drink-data {
  background: var(--primaryLightColor);
  padding: 0.25rem 0.5rem;
  border-radius: var(--mainBorderRadius);
  color: var(--primaryColor);
}

.drink-info {
  padding-top: 2rem;
}

@media screen and (min-width: 992px) {
  .drink {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
    align-items: center;
  }

  .drink-info {
    padding-top: 0;
  }
}

/*  */
.hidden {
  display: none;
}
